.section {
	@apply relative flex flex-col justify-end;
}
.wrapper {
	@apply relative h-full flex flex-col;
}
.heading {
	@apply pb-5;
}
.fill {
	max-width: 1172xp;
	padding-bottom: 140px;
	@apply relative h-full w-full;
}
.sidebar {
	@apply h-full;
	padding-top: 40px;
}


/* Media */
@media(max-width: 1300px){
	.heading{
		@apply mx-auto w-full;
		max-width: 800px;
	}
	.fill{
		padding-bottom: 60px;
	}
}
@media(max-width: 550px){
	.section{
		overflow: hidden;
	}
}